* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #333;
  color: white;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 100%;

  section {
    width: 100%;
    height: 100vh;
  }

  section:nth-child(2n-1) {
    background: #111;
  }

  .page2 {
    @include flex-center();

    & div {
      height: 100%;
      flex-grow: 1;
      position: relative;
      overflow: hidden;

      & .box {
        // @include flex-center();
        background: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.8s ease-in-out;
        animation: leave 1.5s ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background: #000;
          transition: all 1s 0.1s ease;
          transform: scaleY(0);
        }
      }

      &:hover .box {
        animation: enter 0.8s;
      }
      &:hover .box img {
        transform: scaleY(1);
      }
    }
    .col1 {
      background: #A6D0DD;
      cursor: pointer;
    }
    .col2 {
      background: #FF6969;
    }
    .col3 {
      background: #FFD3B0;
    }
    .col4 {
      background: #FFF9DE;
    }
  }

  @keyframes enter {
    0% {
      top: 100%;
    }
    100% {
      top: 0%;
    }
  }
  @keyframes leave {
    0% {
      top: 0%;
    }
    

    100% {
      top: -100%;
    }
  }
}
